.portfolio--section {
  display: flex;
  flex-direction: column;
  padding: 133.3px 85.3px;
}

.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  padding: 0 0 34px 0;
}

.tech-list {
  padding: 12px;
}
.portfolio--section--title {
  padding-bottom: 8px;
}
.portfolio--section--card--content p {
  padding-bottom: 8px;
}
.portfolio--section--container {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.portfolio--section--card {
  display: flex;
  padding: 18px 12px;
  background-color: var(--bg-shade);
  border-radius: 34px;
  gap: 16px;
}

.portfolio--section--img > img {
  width: 400px;
  border-radius: 14px;
}

@media (max-width: 900px) {
  .portfolio--section {
    padding: 80px 20px;
  }

  .portfolio--container-box {
    flex-direction: column;
  }

  .portfolio--section--container {
    gap: 24px;
  }

  .portfolio--section--card {
    flex-direction: column;
  }

  .portfolio--section--img > img {
    width: 100%;
  }
  .portfolio--container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .portfolio--container-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 600px) {
  .portfolio--section {
    padding: 60px 15px;
  }
  .portfolio--container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .portfolio--container-box {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .portfolio--section--img > img {
    width: 100%;
  }
}
